
.forms {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.forms > h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.test {
  color: blue;
}

.wrapper {
/*  background-color: red;*/
  display: flex;
  min-height: 620px
}

.column1 {
  flex: 3;
/*  background-color: blue;*/
  margin: 0px 40px 0px 20px;
}

.column2 {
  flex: 1;
  background-color: green;
  min-width:350px;
  max-height:750px;
}

.text-align {
  margin-left: 16px;
}

.title {
  text-align: center;
}

.chat-box {
  background-color: red;
  height:540px;
  margin: 0px 20px;
}

.chat-messages {
  background-color: blue;
  height:480px;
}

.chat-box-input {
  background-color: orange;
  height:80px;
}

.list-of-users {
  background-color: yellow;
  height: 100px;
  margin: 0px 20px;
}

.edit-chatroom {
  margin-left: 125px;
}

.number-of-users {
  text-align: center;
}

