
.forms {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.forms > h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.wrapper {
/*  background-color: red;*/
  display: flex;
  min-height: 620px
}

.column1 {
  flex: 3;
/*  background-color: blue;*/
  margin: 0px 40px 0px 20px;
}

.column2 {
  flex: 1;
  min-width:350px;
  max-height:750px;
  margin-right:10px;
}

.text-align {
  margin-left: 16px;
}

.title {
  text-align: center;
}

.chat-box {
  height:540px;
  margin: 0px 20px;
  overflow: auto;
}

.chat-messages {
  height:20px;
  border: 1px solid black;
  margin-bottom: 0px;
  padding-left: 0px;
}

.chat-messages:nth-child(odd) {
  background: #eee;
}

.chat-box-input {
  height: 66px;
  margin-left: 19px;
}

.list-of-users {
/*  height: 100px;*/
  margin: 10px 20px 0px 20px;
}

.edit-chatroom {
  margin-left: 125px;
  margin-top: 15px;
}

.number-of-users {
  text-align: center;
}

#text {
  word-wrap: break-word;
  word-break: break-word;
}

.send {
  display: flex;
}

.send-message {
  width:64px;
}

.user-info {
  display:flex;
/*  border-radius: 100px;*/
}

#yo {
  width:120px;
  font-size: 14px;
  padding-top: 10px;
}

#carousel {
  margin-left: 350px;
  margin-right: 350px;
}
#slides_control > div{
  height: 200px;
}
img {
  margin:auto;
  width: 800px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}

/*.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}*/
