<div id="carousel">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img id="images" ng-src="{{slide.image}}">
      <div class="carousel-caption">
      </div>
    </slide>
  </carousel>
</div>

<div class="home-container">
  <h1>How to use:</h1>
  <div class="steps-container">
    <div class="steps">
      <h2>Step 1:</h2>
      <h3>Sign Up/Sign In</h3>
      <img id="step-photos" src="../../../images/step1.png">
    </div>
    <div class="steps">
      <h2>Step 2:</h2>
      <h3>Create a chatroom..</h3>
      <img id="step-photos" src="../../../images/step2.png">
      <br>
      <br>
      <h3>Or join a chatroom!</h3>
      <img id="step-photos" src="../../../images/step2_1.png">
    </div>
<!--     <div class="steps">
      <h3>Step 3:</h3>
      <p>Watch Videos and/or chat!</p>
    </div> -->
  </div>
</div>
