
<div class="forms login" ng-show="vm.toggleValue">
  <h1 id="header">Sign In</h1>
    <form ng-submit="vm.submitLogIn()" name="signInForm" novalidate>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="vm.currentLogInInfo.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="vm.currentLogInInfo.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="align-buttons2">
        <small ng-show="vm.conflict3" class="text-danger"><em>Please Fill in Sign In Form!</em></small>
        <br>
        <button type="submit" ng-disabled="signInForm.$invalid" class="btn btn-default">Submit</button>
        <p id="move-left">
          <strong> Don't have an account?
            <a ng-click="vm.toggleSignInForm()"><u>Sign Up</u></a> here.
          </strong>
      </div>
    </form>
</div>


<div class="forms login" ng-hide="vm.toggleValue">
  <h1 id="header">Sign Up</h1>
    <form ng-submit="vm.signUp()" name="signUpForm" novalidate>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="vm.createUser.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        <small ng-show="vm.conflict" class="text-danger"><em>Email exists...</em></small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Username</label>
        <input ng-model="vm.createUser.username" type="text" class="form-control" id="exampleInputPassword1" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="vm.createUser.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password Confirmation</label>
        <input ng-model="vm.createUser.passwordConfirmation" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Confirmation">
      </div>
      <div class="form-group">
        <label for="exampleInputProfileUrl">Profile Url</label>
        <input ng-model="vm.createUser.picture_url" type="text" class="form-control" id="exampleInputProfileUrl" placeholder="https://">
      </div>

      <div class="align-buttons">
        <small ng-show="vm.conflict2" class="text-danger"><em>Please Complete Form!</em></small>
        <br>
        <button id="sign-up-button" type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-default">Submit</button>
        <p>
          <strong>
            If you are a user,
            <a ng-click="vm.toggleSignInForm()">Sign In</a>.
          </strong>
        </p>
      </div>
    </form>
</div>
