
<div class="forms">
  <h1 id="header">Sign In</h1>
    <form ng-submit="vm.submitLogIn()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="vm.currentLogInInfo.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="vm.currentLogInInfo.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div>
      <p> Don't have an account? <u>Sign Up</u>, here.
      <p> Or Login with <a href="/auth/google">Google</a>

    </div>
</div>


<div class="forms">
  <h1 id="header">Sign Up</h1>
    <form ng-submit="vm.signUp()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="vm.createUser.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Username</label>
        <input ng-model="vm.createUser.username" type="text" class="form-control" id="exampleInputPassword1" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="vm.createUser.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password Confirmation</label>
        <input ng-model="vm.createUser.passwordConfirmation" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Confirmation">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
