<div class="forms panel panel-default">
<h1 class="panel-heading" id="{{vm.authService.currentUser()._id}}">{{ vm.authService.currentUser().name }}'s Profile</h1>

<img id="profile-pic" src="{{ vm.authService.currentUser().picture_url }}" width="200" height="200">
  <form ng-submit="vm.submitUpdate()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input ng-model="vm.formData.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input ng-model="vm.formData.name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input ng-model="vm.formData.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword2">Password confirmation</label>
      <input ng-model="vm.formData.passwordConfirmation" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputProfileUrl">Profile Url</label>
      <input ng-model="vm.formData.picture_url" type="text" class="form-control" id="exampleInputProfileUrl" placeholder="https://">
    </div>
    <div class="align-buttons">
      <button type="submit" class="btn btn-success">Update</button>
      <button id="delete" id="{{vm.authService.currentUser()._id}}" ng-click="vm.deleteUser(vm.authService.currentUser()._id)" type="submit" class="btn btn-danger">Delete</button>
   </div>
 </form>
</div>
