<h1>List of Public Chatrooms</h1>
<!-- {{vm.authService.currentUser()._id}} -->
<div class="title">
  <button id="what" class="btn navbar-btn btn-default" role="presentation"><a ui-sref="newChatroom">Create Chatroom</a></button>
</div>
   <div class="container">

      <div class="row">

        <div ng-repeat="chatroom in vm.all" class="col-md-4">
          <h3 id="{{chatroom._id}}">{{chatroom.title}}</h3>
          <div class="thumbnail">
            <img ng-src="http://img.youtube.com/vi/{{chatroom.video}}/0.jpg" width="350" height="300">
            <div class="caption">
<!--               <p><b>OwnerId: {{chatroom.creator._id}}</b> </p> -->
              <p><b>OwnerUsername: {{chatroom.creatorName}}</b></p>
              <p>{{chatroom.description}}</p>
              <p><b>Number of Users:</b> {{chatroom.users.length}}/{{chatroom.userCapacity}}</p>
              <a ng-click="vm.joinChatroom(chatroom, vm.authService.currentUser()._id)" class="btn btn-default">Join!</a>
            </div>
          </div>
        </div>



      </div>

    </div>
