
<div class="wrapper">
  <div class="column1">
    <h1 class="title">Title: {{vm.chatroomService.retrieve().title}}</h1>
    <div class="text-align" ng-bind-html="vm.youtubeWF"></div>
    <h3 class="text-align">Owner: {{vm.chatroomService.retrieve().creatorName}}</h3>
    <p class="text-align">Description: {{vm.chatroomService.retrieve().description}}</p>
  </div>

  <div class="column2">
    <p class="number-of-users">Number of Users: {{(vm.chatroomService.retrieve().users.length) + 1}}/{{vm.chatroomService.retrieve().userCapacity}}</p>
      <div class="chat-box">
        <div ng-repeat="message in vm.messages track by $index">
          <ul class="chat-messages">
            {{message}}
          </ul>
        </div>
      </div>
      <div class="chat-box-input">
        <form ng-submit="vm.submitMessage()" class="send" action="">
          <textarea ng-model="vm.message" name="myTextArea"cols="32" rows="3"></textarea>
          <button type="submit" class="send-message">Send</button>
        </form>
      </div>
      <div class="list-of-users">
        List of Users Goes Here <br>
        <button type="submit" class="btn btn-default">{{vm.authService.currentUser().name}}</button>
      </div>


      <button ng-click"vm.modalUpdate()" class="edit-chatroom" type="submit" class="btn btn-default">Edit Chatroom</button>
  </div>
</div>



